<div class="panel panel-default">
	<table class="table">
  		<thead>
  			<tr>
	    	<th>ID</th>
	    	<th>Status</th>
	    	<th>Sender</th>
	    	<th>Priority</th>
	    	<th>Category</th>
	    	<th>Timestamp</th>
	    	<th>Leido?</th>
	    	<th>Eliminar?</th>
	    </tr>
  		</thead>
  		<tbody>
	    <tr>
	    	<td><%= d.id %></td>
	    	<td><%= status_string(d.status) %></td>
	    	<td><%= d.sender %></td>
	    	<td><%= d.priority %></td>
	    	<td><%= msg_type_string d.msg_type %></td>
	    	<td><%= d.timestamp.strftime("%m/%d/%Y @ %I:%M%p")  %></td>
	    	<td><%= link_to '¡leido!', read_message_path(d.id), method: :post %></td>
	    	<td><%= link_to 'eliminar', delete_mensaje_path(id: d.id), method: :delete %></td>
	    </tr>
	    </tbody>
  	</table>
  <div class="panel-body">
    <%= d.message_text %>
   </div>
  	
</div>