<nav class="navbar navbar-default navbar-fixed-top top-navbar" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".sidebar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">APPLEYES</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">

        <!-- Messages dropdown 
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Messages <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>-->

        <!-- User dropdown -->
        
  <% if user_signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        <%= current_user.email %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <!--li><p>has iniciado sesion como usuario<strong><%= current_user.email %></strong>.</p></li-->
        <li><%= link_to "Modificar Perfil", edit_user_registration_path, :class => 'navbar-link' %></li>
        <li><%= link_to "Cerrar Sesion", destroy_user_session_path, method: :delete, :class => 'navbar-link'%></li>
      </ul>
  <%elsif admin_signed_in? %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        Admin <%= current_admin.email %> <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <!--li><p>has iniciado sesion como administrador <strong><%= current_admin.email %></strong>.</p></li-->
        <li><%= link_to "Cerrar Sesion", destroy_admin_session_path, method: :delete, :class => 'navbar-link'%></li>
      </ul>
  <% else %>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
        User <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-user">
        <li><%= link_to "Registrarse", new_user_registration_path, :class => 'navbar-link'  %></li>
        <li><%= link_to "Inicio Sesion", new_user_session_path, :class => 'navbar-link'  %></li>
      </ul>
  <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->

</nav>
